.container {
  padding: 0 2rem;
  max-width: 720px;
  margin: 0 auto;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.main :any-link {
  color: #0070f3;
  font-weight: 700;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-decoration: none;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

.button {
  all: unset;
  outline: revert;
  cursor: pointer;
  color: white;
  background-color: var(--accent-color, black);
  border-radius: 9999px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  padding: 1rem 2rem;
  font-size: 1.25rem;
  transition: all ease 75ms;
}

.button:is(:hover, :focus):not(:disabled, :active) {
  transform: scale(1.05);
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
